---
import { Icon } from "@astrojs/starlight/components";
import "../tailwind.css"

type Link = {
  name: string;
  href: `/${string}` | `https://${string}`;
  icon?: string;
};

const links: Array<Link> = [
  { name: "News", href: "/news/", icon: "rss" },
  { name: "Team", href: "/team", icon: "star" },
  { name: "TrueTech", href: "/truetech/", icon: "open-book" },
  { name: "GamingForge", href: "/gamingforge", icon: "rocket" },
  { name: "LifeForge", href: "/lifeforge", icon: "open-book" },
];
---

<div class="flex flex-row gap-5 ml-8 items-center justify-center">
  {
    links.map((link) => (
      <a
        class="link-no-deco hover:scale-110 flex flex-row items-center gap-1 hover:border-b-4 border-tc-primary transition-all"
        href={link.href}
        data-astro-prefetch="load"
      >
        <p class="font-bold text-lg max-lg:text-xs max-md:text-xs">
          {link.name}
        </p>
        {link.icon && (
          <Icon
            class="w-5 h-5 max-md:hidden max-lg:hidden text-[var(--sl-color-gray-2)]"
            name={link.icon as Parameters<typeof Icon>["name"]}
          />
        )}
      </a>
    ))
  }
</div>
